<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a
          {% if site.medium %}
          href="https://medium.com/@{{ site.medium }}" target="_blank"
          {% else %}
          href="{{ site.baseurl }}/blog.html"
          {% endif %}
          >BLOG</a></li>
        <li><a href="https://www.instagram.com/{{ site.instagram }}">FOLLOW ME HERE</a></li>
        <li><a href="{{ site.baseurl }}/resume">RESUME</a></li>
      </ul>
    </div>
  </div>
</nav>
