<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-youtube-play"></i>&nbsp;&nbsp;<strong><a href="https://www.youtube.com/watch?v=Q3fF5EJtGCY">PolyBin</a></strong>
			- An online IDE which provides an ecosystem for developing, consuming and distributing Polymer based WebComponents with deep import, version control, code sharing and auto-documentation features (HTML5, Polymer, Python, GAE, GDS, Material Design).
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://projectpaisa.com">Project Paisa</a></strong>
			- Re-Captcha like web platform for book digitalization by providing home based jobs to its users. Project Paisa achieves 50% more accurate results than open source OCRs available. It uses image processing techniques in backend to segment scanned images into lines. The OCR results of those lines are then corrected by users (AngularJS, Python, GAE, GDS).
		</h5>
    		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/daadu/PvP-Game">PvP Ping Pong Game</a></strong>
			- A Player vs Player 2D web game for playing ping pong. The game was optimized to play for high latency networks (HTML5 Canvas, nodeJS, SOCKET.IO).
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Motion Game</a></strong>
			- A web game controlled by motion gesture captured from webcam. It uses image processing techniques to recognize motion gestures (HTML5 Canvas, HTML5 getUserMedia() API).
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Web Crawler and Search Engine</a></strong>
			- A basic web crawler which crawls through the Internet and indexes the web pages. Implemented the PageRank algorithm (Python, web.py).
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">3D LED Cube</a></strong>
			- A cube of LEDs in 8x8x8 orientation, playing various visual patterns on it. The cube was displayed during the inauguration of Ambiora TechFest 2014 (C, Aurdino).
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://wikicious.appspot.com">wikicious</a></strong>
			- A simple wiki (Python, GAE, GDS).
		</h5>

    </div>
  </div>
</div>
</section>
